body{
    background-color: var(--bg-color);
    font-family: "Poppins", Arial;
}
header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}
ul {
    display: flex;
    gap: 56px;
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--text-color);
}
a:hover {
    color: var(--cinza-color);
    transition: 0.3s;
}
.senaclogo{
    width: 101px;
    height: 59px;
    animation: gira 2.5s infinite;
}
.btnsite {
    /*padding: 12px 16px;
    background-color: var(--secondary-color);
    border-radius: 12px;*/
    color: white;
}
.btnsite:hover {
    opacity: 0.7;
    transition: 0.3s;   
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 432px;
    max-height: 282px;
    font-size: 56px;
    border-radius: 12px;
    padding: 32px 16px;
    margin-top: 40px;
}
h1:hover {
    transform: scale(1.05);
}
/*
#div1 {
    margin-left: 130px;
    margin-top: 96px;
}
*/
main {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    gap: 50px
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    max-height: 38px;
    border-radius: 12px;
    padding: 12px 16px;
}

input {
    padding: 12px 16px;
    border-radius: 12px;

}

.btn-input {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    max-width: 60%;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 12px;
}


.btn-input:hover{
    opacity: 70%;
    max-width: 100%;
    transition: 0.3s;

}
#div2 {
    margin-top: 38px;
}
.senacimg {
    width: 710px;
    height: 532px; 
    border: 4px solid var(--primary-color);
    border-radius: 12px;
}
.senacimg:hover {
    transform: scale(1.05);
}
p {
    color: var(--text-color);
    font-size: 16px;
}
footer{
    text-align: center;
    margin-top: 180px;
    opacity: 0.3;
}

@keyframes gira {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* */
@media screen and (max-width: 1100px){
    main{
        flex-direction: column;
    }

    ul{
        gap: 44px;
    }

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}